**/target/*
target/*
**/classes/*
**/out/*
**/bin/*
**/lib/*
**/src-generated/*
**/generated/*
**/resources-generated/*
.repository
#README.md
# Logs
logs
*.log*
*.bak
**/.DS_Store

# IDE preferences and settings
.idea
.project
*.settings*
.classpath
*.iml
.externalToolBuilders
*.ipr
*.iws
*.ids
/.designer/
atlassian-ide-plugin.xml

# Node.js modules
node_modules

#Maven
.mvn

*/.m2
*.versionsBackup
*gradle
mvnw*

#nonsnapshot-maven-plugin
#REsources bundles
*.class
*.map
*.pyc
*~
*.sqlite
*.esproj*
*.hg*
.pydevproject
*.db
\#*\#
\.\#*
\.ropeproject
\.buildpath
*.lock
*.cache
*config.ini
*rebel*.xml
**/*TestMe*
liquibase.properties

/nonsnapshotBuildIncremental.sh
*/env.*.properties
!/shell/env.global.properties

